.container {
    height: auto;
    padding: 30px;
}

.select {
    width:calc(80% + 20px);
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: 5px;
    border-color:  #A9A9A9;
}

.inputs {
    width: 80%;
    border-radius: 20px;
    padding: 5px 10px;
    margin-top: 5px;
    border: 1px solid #A9A9A9;
    
}

.form {
    display: flex;
    flex-wrap: wrap;
}

.formItems {
    margin-bottom: 2rem;
}

.formSections {
    width: 50%;
}

@media only screen and (max-width: 800px) {
    .form {
        display: flex;
        flex-direction: column;
        align-content: center;
    }

    .select {
        width: calc(100% + 20px);
    }
    .inputs {
        width: 100%;
    }
}



