.botton {
    font: inherit;
    font-size: 1.2rem;
    border: 1px solid #008000;
    background-color: #008000;
    color: #FFF;
    padding: 0.5rem 1.25rem;
    cursor: pointer;
    border-radius: 10px;
}

.botton:hover,
.botton:active {
    background-color: #029802;
    border-color: #029802;
}

.botton:focus {
    outline: none;
}